/*
    
    Developer: N. Emre Alsancak
    Email:     emre@dejavvu.com
    Web:       http://www.dejavvu.com

    ----------------------------------

    Dejavvu Slider Module

    Style File(vvSlider.css)

    Version 0.1
    11/04/2014
  
    "Amiga lives"

*/